body {
    background-color: rgb(55,68, 235);
}
#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid fuchsia;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
    box-shadow: 0 6px 0 rgba(2, 2, 2, 0.2);
}
#textbox
{
    width: 300px;
}
